* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}


.App-header {
  position: sticky;
  background-color: #222;
  padding: 20px;
  color: white;
}

.headerss{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  cursor:pointer;
  background-color: red
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;}

  .headerss button{
    background-color: red
  }
